[Unit]
Description=SSAU BBB worker
PartOf=ssau.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/ssau-bot
EnvironmentFile=-/opt/ssau-bot/.env
ExecStartPre=/opt/ssau-bot/audio.sh
ExecStart=/opt/ssau-bot/bbb
Restart=on-failure
RestartSec=5
TimeoutStopSec=40
User=root
Group=root

[Install]
WantedBy=ssau.target
